In [111]:
import pandas as pd
iumport numpay as np
import collections as cl
import itertools as it
from detect_breakpoints import *
from msprime_simulation import msprime_simulate_variants
from classification_breakpoints import class_brkpoints
from main import events_counts

In [163]:
params = {"sample_size": 10, "Ne": 1, "ro": 8e-6, "mu": 8e-4, "Tau": 1, "Kappa": 10, "length": int(1e6)}
edges, breakpoints, variants = msprime_simulate_variants(params)
th_events = detect_internal_incompatibilities(variants, oriented=True, thresold=50)
obs_events = class_brkpoints(edges, breakpoints)
data_events = events_counts(variants, obs_events, th_events)

In [164]:
nrc_blocks = [(0, 0)] + th_events + [(len(variants) - 1, 0)]
nrc_blocks = [(nrc_blocks[i - 1][1], nrc_blocks[i][0]) for i in range(1, len(nrc_blocks))]
data_nrc = events_counts(variants, obs_events, nrc_blocks)

In [165]:
EVENTS_TYPE = ["discret", "hidden", "silent", "incompatible"]
detectable_events =  ["incompatible", "discret"]
undetectable_events =  ["hidden", "silent"]

In [166]:
def complete_data(undetectable, detectable, data):
    data.head()
    data["undetectable"] = data[undetectable].sum(axis=1)
    data["detectable"] = data[detectable].sum(axis=1)
    data["total"] = data["undetectable"] + data["detectable"]
    return data

In [167]:
length_nrc = np.mean([variants[sup].site.position - variants[inf].site.position for inf, sup in  data_nrc.index])
length_nrc

9643.104849446114

In [168]:
length_events = np.mean([variants[sup].site.position - variants[inf].site.position for inf, sup in  data_events.index])
length_nrc / length_events

26.805600902031742

In [169]:
data_nrc = complete_data(undetectable_events, 
                         detectable_events, 
                         events_counts(variants, obs_events, nrc_blocks))

In [170]:
data_events = complete_data(undetectable_events, 
                            detectable_events, 
                            events_counts(variants, obs_events, th_events))

In [171]:
length_nrc = data_nrc.index

In [172]:
sum(data_events["undetectable"])

8

In [173]:
sum(data_events["detectable"])

99

In [174]:
sum(data_nrc["undetectable"])

277

In [175]:
sum(data_nrc["detectable"])

21

In [54]:
data_nrc.head()

        incompatible  silent  discret  hidden  undetectable  detectable  total
0  3               0       0        0       0             0           0      0
8  40              4       3        0       0             3           4      7
41 74              2       3        0       0             3           2      5
81 82              0       0        0       0             0           0      0
83 128             2       1        1       0             1           3      4

In [55]:
data_events.head()

       incompatible  silent  discret  hidden  undetectable  detectable  total
23 24             2       0        0       0             0           2      2
37 40             1       0        0       0             0           1      1
45 47             0       0        0       0             0           0      0
73 75             1       0        0       0             0           1      1
77 78             1       0        0       0             0           1      1